#Domain
DOMAIN=######
ADMIN_EMAIL=##########
APP_NAME=#########
APP_HOST=0.0.0.0
APP_PORT=8000
APP_RELOAD=##################
APP_LOG_LEVEL=########
#psql
POSTGRES_USER=########
POSTGRES_PASSWORD=#########
POSTGRES_DB=###############
POSTGRES_HOST=###############
POSTGRES_PORT=############
POSTGRES_NETWORK_NAME=###########
#Config settings to app
SECRET_KEY=###################
REFRESH_TOKEN_SECRET_KEY=###################
ALGORITHM="####"
ACCESS_TOKEN_EXPIRE_MINUTES=#
REFRESH_TOKEN_EXPIRE_MINUTES=####
#Docs api_key
DOCS_API_KEY=########
#Yandex settings
YANDEX_CLIENTID=############
YANDEX_CLIENT_SECRET=###########
YANDEX_REDIRECT_URI=####################
YANDEX_REDIRECT_URI_WEB=##################
#CORS
CORS_ORIGINS=###################
#Frontend
FRONTEND_URL=####################
#Cookie
COOKIE_DOMAIN=######
COOKIE_PATH=#
COOKIE_SAMESITE=####
COOKIE_SECURE=####
#VK ID
VK_CLIENT_ID=#############
VK_CLIENT_SECRET=#############
VK_REDIRECT_URI=####################
VK_OAUTH_URL = ###################
VK_API_URL = ##################
VK_AUTH_URL = ################# 
#Redis settings
REDIS_NETWORK_NAME=###########
REDIS_PORT=#############
REDIS_PASSWORD=#############
REDIS_USER=#############
REDIS_USER_PASSWORD=#############
REDIS_TTL = 300
#Minio settings
MINIO_ROOT_USER=####
MINIO_ROOT_PASSWORD=####
MINIO_DEFAULT_BUCKETS=#
MINIO_NETWORK_NAME=#
MINIO_PORT=####
MINIO_ENDPOINT_URL=#########
MINIO_BUCKET_NAME=####
#Settings ChromaDB
CHROMA_PORT=# 
CHROMA_NETWORK_NAME = "#"
CHROMA_COLLECTION_NAME = "#####" 
#Settings GigaChat
GIGA_CLIENT_ID=######
GIGA_SCOPE=####
GIGA_OAUTH_URL=##
GIGA_API_URL=#####
GIGA_AUTH_KEY = ####